/* 
.insta{
    color: orange;
    font-style: italic;
    font-size: 40px;
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 100px;
}
.img{
    height: 60px;
    width: 100px;
    float: right;
    position: absolute;
    top: 15px;
    right: 10px;
}
.h{
    display: flex;
    margin-top: 10px;
    border-bottom: 1px;
} */


.chan{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.575);
}
.im2{
    margin-top: 3px;
    margin-left: 960px;
}
.im3{
    padding-top: 25px;
}

