/* *{
    background-color: rgb(137, 236, 175);
} */
.mainc{
    width: 60%;
    height: 650px;
    border: 2px ridge zrgb(247, 242, 242);
    background-color:  rgb(254, 254, 254);
    margin-left: 250px;
    margin-top: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.285);
    /* rgb(199, 245, 199) */
}
.container{
    display: inline-block;
}

.pos{
    display: inline-block; 
    margin-bottom: 1000px;
    margin-left: 20px;
}
.main{
    background-color: rgba(0, 0, 0, 0.333);
}
.img1{
    padding-right: 1000px;
    
}
.himage{
    margin-right: 160px;
    margin-left: 150px;
    margin-top: 40px;
    box-shadow: 5px 5px 5px 5px  rgb(209, 206, 208);
    border-radius: 20px;
}
.en{
    margin-top: 100px;
    font-size:x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bolder;
    box-shadow: 2px 5px 3px white;
    color: rgb(170 199 255 / 92%);
    cursor: pointer;
    text-decoration:dotted;
}
.bt{
    display: inline-block;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: none;
    color: black;
    box-shadow: 5px 5px 5px black;
    margin-left: 90px;
}
.bt:hover{
    background-color: rgb(245, 198, 198);
    color: black;
}